.body{
    font-family: Bahnschrift;
    text-align: center;
    width: 100%;
    /* overflow-x: hidden; */

}

.CardImage{
    margin: 0px;
    border: none;

}

.DivCss{
    align-items: center;
    color:grey;
    padding-top: 20px;
    padding-bottom: 20px;

}


.jumbotron{
    padding: 0px !important;
    height: 655px !important;
    border-radius: 0px !important;
    width: 100% !important;
}


.icon{

    font-size: 70px;
    color: #3d9edb;
    padding-bottom: 20px;
}

.logo{
    width: 40%;
    position: inherit;
}

.photo{
    width: 15%;
    border-radius: 50%;
}

.ForLink{
    color:#00a8e5 !important;

}

.ForFooter{
    border:none;
}

.container{
    width:100%;
    height:100%;
    color:black;
    font-weight:bold;
    animation: myanimation 10s infinite;
  }
  
  @keyframes myanimation {
    0% {background-color:#B5A6A7;}
    15%{background-color:#B8336A;}
    50%{background-color:#ACACDE;}
    75%{background-color:#ABDAFC;}
    100% {background-color:#E5FCFF;}
  }
  .container1{
    width:100%;
    height:100%;
    color:black;
    font-weight:bold;
    animation: myanimation1 10s infinite;
  }
  
  @keyframes myanimation1 {
    0% {background-color:#E5FCFF;}
    15%{background-color:#ABDAFC;}
    50%{background-color:#B5A6A7;}
    75%{background-color:#B8336A;}
    100% {background-color:#ACACDE;}
  }
