<body>
    <div id="mySidebar" class="sidebar">
            <br>
            <br>
            <br>
            <a routerLink="/donorProfile" routerLinkActive="active">Profile</a>
            <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
            <a routerLink="/memberdata" routerLinkActive="active">Members</a>
            <button class="" (click)="logoutUser()"> Sign Out</button>
            <a></a>
        </div>
        <div id="main">
            <button class="openbtn" (click)="openNav()">☰</button>
        
        </div>
    <router-outlet></router-outlet>

    <div class="row" >

    <div class="col-4" *ngFor="let member of MemArray; let i = index">
    <router-outlet class="center-content"></router-outlet>     
        <div class="col-12">
            <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                    <div class="frontside">
                        <div class="card">
                            <div class="card-body text-center">
                                <br>
                                <br>
                                <br>
                                <h4 class="card-title">Name:{{member.name}}</h4>
                                <p class="card-text">E-mail: {{member.email}}</p>
                                <p class="card-text">POC number:{{member.Contact}}</p>
                                
                            </div>
                        </div>
                    </div>
                    <div class="backside">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <br>
                                <br>
                                <br>
                                <h4 class="card-title">POC Name:{{member.PocName}}</h4>
                                <p class="card-text">POC number: {{member.PocNo}}</p> 
                                <button (click)="SendEmail({{member.email}})"> click me to volunteer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>